.contactContainer {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
    position: relative;
}

.mapContainer {
    height: 250px;
    position: inherit;
    border-radius: var(--borderRadius);
    overflow: hidden;
    width: 90vw;
    max-width: 1080px;
    /* border: solid white 1px; */
}

.map {
    width: 100%;
    height: 100%;
}

.contactContainer .information ul {
    list-style: none;
}


.contactContainer .information {
    padding: 15px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    max-width: 550px;
    height: 187px;
    bottom: -40%;
    border-radius: var(--borderRadius);
    background-color: #2b2a2a;
    text-align: left;
}

