
.toggle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}

.n-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    width: 33px;
    margin: 6px;
    cursor: pointer;    
    z-index: 55;
}

.n-toggle.open>:nth-child(1) {
    transform: rotate(45deg) translate(8px, 3px);
}

.n-toggle.open>:nth-child(2) {
    opacity: 0;
}

.n-toggle.open>:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -3px);
}

.n-toggle>* {
    transition: transform .2s, opacity .2s;
    
}


.n-toggle span {
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
}

.n-list {
    list-style: none;
    padding-inline-start: 0;

}

.n-list>* {
    padding: 40px 12px;
    font-size: 24px;
    color: #d8d8d8;
    cursor: pointer;
    
    letter-spacing: 5px;
}

.n-list>*:hover {
    color: #fff;
}


.Navbar nav {
    position: fixed;
    padding-top: 80px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .95);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    z-index: 50;
}

