.workItem-container {
    cursor: pointer;
    width: 330px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--borderRadius);
    position: relative;
    background-position: center;
    background-size: cover;    
    z-index: 0;
}

.workItem-container::after {
    border-radius: var(--borderRadius);
    content: "";
    position: absolute;
    padding: inherit;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.601);
}


.workItem-title {
    margin-top: 25px;
    font-size: 26px;
    color: #fff;
    z-index: 3;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.workItem-background {}

.workItem-button {
    z-index: 3;
    margin-bottom: 20px;
}