.App {
  text-align: center;
  color: white;
  --borderRadius: 15px;
  font-family: sans-serif;
  overflow-x: hidden;
}

input,
textarea,
button,
select,
a,
li {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}